<div class="sign-up">
    <a href="/login_page">Login page</a>
    <div class="content">
        <label for="name">Name</label>
        <input type="text" [(ngModel)]="signUpData.name" required>

        <label for="email">Email ID</label>
        <input type="text" [(ngModel)]="signUpData.email" required>

        <label for="password">Password</label>
        <input type="text" [(ngModel)]="signUpData.password" required>   

        <label for="gender">Gender</label>
        <select name="gender" id="gender" [(ngModel)]="signUpData.gender">
            <option value="" hidden>Select Gender</option>
            <option value="Female">Female</option>
            <option value="Male">Male</option>
            <option value="Trans">Trans</option>
        </select>

        <div class="ques">
            <div class="question-label-row">
                <label for="question" style="margin-top: 20px;">Question</label>
                <button id="refresh-btn" (click)="questionChanger()">🔄</button>
              </div>
            <input type="text" name="question" [(ngModel)]="question" [disabled]="true">
            <label for="answer">Answer</label>
            <input type="text" name="answer" id="answer" [(ngModel)]="signUpData.answer">
        </div>

        <button type="button" (click)="signUp()">Sign-Up</button>
        <button type="button" (click)="cancel()">Cancel</button>
    </div>
</div>